<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qinlu.autotesting">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <!--首页-->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
        </activity>

        <!--登录页面-->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>

        <!--注册页面-->
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"/>

        <!--检测主页面-->
        <activity
            android:name=".InspectionActivity"
            android:label="@string/inspect">
        </activity>

        <!--设置页面-->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--废气检验员管理页面-->
        <activity
            android:name=".EmissionInspectorManagementActivity"
            android:label="废气检验员管理">
        </activity>

        <!--外验员管理页面-->
        <activity
            android:name=".ExteriorInspectorManagementActivity"
            android:label="外检员管理">
        </activity>

        <!--引车员管理页面-->
        <activity
            android:name=".CommanderManagementActivity"
            android:label="外检员管理">
        </activity>

        <!--检测单位管理页面-->
        <activity
            android:name=".OrgManagementActivity"
            android:label="检测单位管理">
        </activity>

        <!--车牌号码前缀管理页面-->
        <activity
            android:name=".PlatePrefixManagementActivity"
            android:label="车牌前缀管理">
        </activity>

        <!--号牌种类管理页面-->
        <activity
            android:name=".PlateTypeManagementActivity"
            android:label="号牌种类管理">
        </activity>

        <!--添加操作员-->
        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".AddItemActivity"
            android:label="@string/settings">
        </activity>

        <!--更新操作员-->
        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".UpdateItemActivity"
            android:label="@string/settings">
        </activity>
    </application>

</manifest>