<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qinlu.autotesting">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <!--登录页面-->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>

        <!--注册页面-->
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"/>

        <!--检测主页面-->
        <activity
            android:name=".InspectionActivity"
            android:label="@string/inspect">
        </activity>
        <!--设置页面-->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--设置页面-->
        <activity
            android:name=".EmissionManagement"
            android:label="inspector">
        </activity>
    </application>

</manifest>